.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 100px;
}

body {
    margin: 0;
    padding: 0;
    /* background: url("../resource/main-BG3.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    background-color: #e9f0f5;
    font-family: 'Raleway', sans-serif;
}

/** Header section */
#header-wrap {
    /* display: grid;
    grid-template-columns: repeat(5, 1fr); */
    display: flex;
    justify-content: space-evenly;
    /* margin-top: 25px; */
    padding: 15px 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    color: rgb(255, 255, 255);
    background-color:rgba(0, 153, 204, 1);
}

.header-text {
    font-size: 13px;
    margin-top: 5px;
}

.budget-container {
    grid-column: 2 / 3;
    text-align: center;
}

.balance-container {
    text-align: center;
}

.mid-line {
    border-left: 1px solid rgb(34, 146, 187);
    height: 100px;
    z-index: -1;
    position: absolute;
    top: 1;
    left: 50%;
}

.wave-sec-wrap {
    margin-bottom: 45px;
}

.expense-container {
    grid-column: 4 / 5;
    text-align: center;
}

/** Percentage Section Animation*/
.budget_percent_num {
    position: absolute;
    line-height: 200px;
    font-size: 50px;
    font-family: 'Quicksand', sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.wave-fill {
    margin: 0 auto;
    height: 200px;
    width: 200px;
    background: rgb(255, 255, 255, 1);
    -webkit-mask-image: url("../resource/test.png");
    -webkit-mask-size: contain;
    position: relative;
    transform: translateY(35px);
}

span {
    display: block;
    width: 100%;
}

.wave {
    background: url("../resource/wave-3.png");
    height: 22px;
    background-size: contain;
    animation: wave 10s linear infinite;
    border: none;
}

.deep-water {
    background: #64c6f3;
    height: 200px;
}

@keyframes wave {
    from {
        background-position: 0px 0px;
    }

    to {
        background-position: 1000px 0px;
    }
}

/* Welcome user container */
#welcome-user {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    margin-top: 20px;
    font-size: 30px;
}

#user-name {
    display: inline;
}

/** Mobile nav bar stying */
.mob-nav-bar {
    height: 55px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    /* border-top: 1px solid black; */
    z-index: 2;
    filter: drop-shadow(5px 5px 5px #676666);
}

.mob-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    padding-top: 5px;
    padding-left: 350px;
    padding-right: 350px;
}

.mob-nav-icon {
    margin-bottom: 6px;
}

.mob-col {
    margin-top: 0px;
}

.mob-nav-text {
    margin-top: -9px;
    font-size: 10px;
    color: rgb(109, 109, 109);
}

.block-hover {
    border-bottom: 1px solid rgb(34, 146, 187);
    padding-bottom: 10px;
    font-family: 'Raleway', sans-serif;
}

#budget-pop {
    opacity: 0;
    position: relative;
    top: 50px;
}

#expense-pop {
    opacity: 0;
    position: relative;
    top: 50px;
}

#explore-pop {
    opacity: 0;
    position: relative;
    top: 50px;
}

.mob-navbar-hover {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(-70px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

.timeline-container {
    width: 60%;
    padding: 50px 0;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    font-family: 'Quicksand', sans-serif;
}

.timeline-container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    background: rgb(45, 188, 240);
    margin-top: 60px;
}

.timeline-block {
    width: -webkit-calc(50% + 8px);
    width: -moz-calc(50% + 8px);
    width: calc(50% + 8px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
}

.timeline-block-right {
    float: right;
}

.timeline-block-left {
    float: left;
    direction: rtl
}

.marker {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #F5F7FA;
    background: rgb(34, 146, 187);
    margin-top: 10px;
    z-index: 1;
}


.timeline-content {
    width: 95%;
    padding: 0 15px;
    color: #666;
    background-color: #ace2ff;
    /* filter: drop-shadow(1px 1px 1px #676666); */
    border-radius: 20px;
    border: 1px solid rgb(233, 233, 233);
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); */
}

.category {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(91, 91, 91);
}

.amount {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 500
}

.date {
    font-size: 15px;
    color: #767676;
}

.description {
    font-size: 15px;
    line-height: 1.5em;
    word-spacing: 1px;
    color: #888;
}


/* Set up budget modal */
#setup-budget {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    display: none;
}

#user-budget {
    height: 35px;
    width: 50%;
    border: 1px solid #237D9A;
    border-radius: 25px;
    padding: 0 10px;
}

#setup-budget-content {
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 45%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    text-align: center;
    border: 1px solid rgb(34, 146, 187);
}

.cancel-budget-btn {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 20px;
    margin-top: 20px;
}

.budget-cancel {
    width: 3vw;
    height: 3vw;
}

.budget-modal-title {
    font-size: 4vw;
    font-weight: bold;
    color: rgb(18, 132, 181);
    font-family: 'Quicksand', sans-serif;
}

#submit-budget-btn {
    border-radius: 30px;
    width: 100px;
    height: 40px;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    border: 1px solid rgb(34, 146, 187);
    margin-top: 20px;
}

#submit-budget-btn:hover {
    color: white;
    background-color: rgb(34, 146, 187);
}

#mob-cancel-btn {
    border-radius: 30px;
    width: 100px;
    height: 40px;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    border: 1px solid rgb(34, 146, 187);
    margin-top: 20px;
    visibility: hidden;
}

#mob-cancel-btn:hover {
    color: white;
    background-color: rgb(34, 146, 187);
}

.setup-btn-wrap {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

/** No budget error modal */
#nobudget-modal {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    display: none;
}

#nobudget-modal-content {
    background-color: white;
    width: 400px;
    height: 200px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    text-align: center;
}

.nobudget-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#setup-btn-error {
    border-radius: 30px;
    width: 150px;
    height: 40px;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    border: 1px solid rgb(34, 146, 187);
}

#setup-btn-error:hover {
    color: white;
    background-color: rgb(34, 146, 187);
}

#cancel-nobudget-btn {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 20px;
    margin-top: 20px;
}

/* Category Page Styling */
#slideShow {
    background-color: rgba(255, 255, 255);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    margin-top: -1500px;
}

.section-title {
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    text-align: center;
    padding: 20px 0;
    color: rgb(255, 255, 255);
    background-color: #09C;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    column-gap: 30px;
    row-gap: 30px;
    padding: 50px;
}

.category-card {
    /* background-color: #96CFE1; */
    background-color: white;
    filter: drop-shadow(2px 2px 2px #676666);
    width: 150px;
    height: 220px;
    border-radius: 15px;
    color: #09C;
    border: 1px solid #09C;
}

.category-card:hover {
    background-color: rgb(48, 179, 223);
    color: white;
}

.category-icon {
    margin: 25px 0 0 15px;
    width: 80px;
    /* height: 75px; */
    height: 80px;
}

.category-caption {
    padding: 15px;
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    /* margin: 0; */
}

.category-btn {
    border-radius: 30px;
    width: 170px;
    height: 50px;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
}

#cancel-btn:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(34, 146, 187);
}

#cancel-btn {
    color: rgb(34, 146, 187);
    border: 1px solid rgb(34, 146, 187);
    /* height: 35px; */
}

.category-btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Enter Details page */
#enter-slide {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    margin-left: -100%;
    z-index: 4;
}

.enter-wrap input {
    margin-left: 30px;
    height: 35px;
    width: 100%;
    border: 1px solid #237D9A;
    border-radius: 5px;
    padding-left: 10px;
}

label {
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    padding-top: 5px;
    color: #09C;
}

.enter-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    row-gap: 20px;
    padding: 30px;
}

.enter-wrap {
    display: flex;
    justify-content: center;
}

.enter-btn {
    border-radius: 30px;
    width: 170px;
    height: 50px;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
}

#back-btn:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(34, 146, 187);
}

#save-btn:hover {
    background-color: white;
    border: 1px solid rgb(34, 146, 187);
    color: rgb(34, 146, 187);
}

#save-btn {
    color: white;
    background-color: rgb(34, 146, 187);
    margin-left: 50px;
}

#back-btn {
    color: rgb(34, 146, 187);
    border: 1px solid rgb(34, 146, 187);
}

.enter-btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#other-menu-modal {
    background-color: rgb(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: -100%;
    opacity: 0;
}

#other-menu-modal-content {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

.other-close-btn {
    background-color: white;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -80px;
    margin-right: -96px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.other-close-btn:hover {
    background-color: rgb(34, 146, 187);
}

#close-modal-btn {
    margin-left: -55px;
    transform: translateY(30px);
}

.other-menu-link a {
    text-decoration: none;
    color: white;
}

.other-menu-link a:hover {
    color: rgb(34, 146, 187);
}

#expense-error-modal {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    display: none;
}

#expense-error-content {
    background-color: white;
    width: 400px;
    height: 250px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    text-align: center;
}

.expense-error-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-btn-style {
    border-radius: 30px;
    width: 200px;
    height: 40px;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    border: 1px solid rgb(34, 146, 187);
}

.modal-btn-style:hover {
    color: white;
    background-color: rgb(34, 146, 187);
}

/* Enter a zero budget and pop up modal */
#budget-zero-modal {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 6;
    display: none;
}

#budget-zero-content {
    background-color: white;
    width: 400px;
    height: 250px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    text-align: center;
    border: 1px solid rgb(34, 146, 187);
}

.budget-zero-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Enter a budget that less than expense */
#budget-less-expense-modal {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 6;
    display: none;
}

#budget-less-expense-content {
    background-color: white;
    width: 400px;
    height: 250px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    text-align: center;
    border: 1px solid rgb(34, 146, 187);
}

.budget-less-expense-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Enter a expense that is 0 or empty value */
#invalid-expense-modal {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 6;
    display: none;
}

#invalid-expense-content {
    background-color: white;
    width: 400px;
    height: 250px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    text-align: center;
    border: 1px solid rgb(34, 146, 187);
}

.invalid-expense-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Large budget enter modal */
#large-budget-modal {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 6;
    display: none;
}

#large-budget-content {
    background-color: white;
    width: 400px;
    height: 250px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    text-align: center;
    border: 1px solid rgb(34, 146, 187);
}

.large-budget-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Scroll up to top button */
#back-to-top-btn {
    display: inline-block;
    background-color: rgb(34, 146, 187);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 60px;
    left: 30px;
    transition: background-color .3s,
        opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
}

#back-to-top-btn::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#back-to-top-btn:hover {
    cursor: pointer;
    background-color: #333;
}

#back-to-top-btn:active {
    background-color: #555;
}

#back-to-top-btn.show {
    opacity: 1;
    visibility: visible;
}

#dark-mode-btn {
    border-radius: 30px;
    width: 80px;
    height: 30px;
    font-size: 10px;
    font-family: 'Quicksand', sans-serif;
    border: 1px solid rgb(0, 0, 0);
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 15px;
    margin-bottom: 120px;
    z-index: 5;
}

#dark-mode-btn:hover {
    color: white;
    background-color: rgb(0, 0, 0);
}

/* 工具箱 */
#tool-box-modal {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 6;
    display: none;
}

#tool-box-content {
    background-color: white;
    width: 300px;
    height: 450px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    text-align: center;
    border: 1px solid rgb(34, 146, 187);
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(130px, 1fr) );
    justify-items: center;
    padding: 10px 15px;
}

.tool-box {
    width: 130px;
    padding: 0 5px;
}

.tool-box-title {
    font-size: 15px;
    margin-bottom: 0;
}

.tool-box-content {
    font-size: 10px;
    margin-top: 5px;
}

@media screen and (max-width: 1024px) {
    #setup-budget-content {
        height: 350px;
        padding: 20px 0 20px 0;
    }

    #submit-budget-btn {
        margin-top: 40px;
    }

}

@media screen and (max-width: 950px) {
    .mob-grid {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media screen and (max-width: 768px) {
    #mob-cancel-btn {
        visibility: visible;

    }

    .budget-cancel {
        display: none;
    }

    .setup-btn-wrap {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        justify-items: center;
        margin-top: 25px;

    }

    .category-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(85px, 1fr));
        column-gap: 15px;
        row-gap: 15px;
        padding: 50px;
    }

    .category-card {
        width: 95px;
        height: 125px;
    }

    .category-icon {
        margin: 15px 0 0 10px;
        width: 50px;
        /* height: 45px; */
        height: 50px;
    }

    .category-caption {
        padding: 10px;
        font-family: 'Quicksand', sans-serif;
        font-size: 15px;
    }

    .category-btn {
        width: 120px;
        height: 50px;
        font-size: 20px;
    }

    .enter-btn {
        width: 120px;
        height: 50px;
        font-size: 20px;
    }

    /* Time line left justfy */
    .timeline-container:before {
        left: 8px;
        width: 1px;
    }

    .timeline-block {
        width: 100%;
        margin-bottom: 30px;
    }

    .timeline-block-right {
        float: none;
    }

    .timeline-block-left {
        float: none;
        direction: ltr;
    }

    #submit-budget-btn {
        margin-top: 10px;
    }
}

@media screen and (max-width: 500px) {
    #header-wrap {
        font-size: 18px;
    }

    .wave-fill {
        width: 150px;
        height: 150px;
        position: relative;
    }

    .wave {
        height: 20px;
    }

    .mid-line {
        height: 80px;
        z-index: -1;
        position: absolute;
        top: 1;
        left: 50%;
    }

    .budget_percent_num {
        font-size: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .category {
        font-size: 15px;
    }

    .amount {
        font-size: 15px;
    }

    .date {
        font-size: 12px;
    }

    .description{
        font-size: 10px;
    }

    /* Scroll to top btn */
    #back-to-top-btn {
        width: 50px;
        height: 50px;
        bottom: 60px;
        left: 10px;
    }

    /* Set up budget number modal */
    #setup-budget-content {
        width: 70%;
    }

    #setup-budget-content {
        padding-top: 30px;
    }

    #submit-budget-btn {
        width: 80px;
        height: 30px;
        font-size: 15px;
        margin-top: 20px;
    }

    #mob-cancel-btn {
        width: 80px;
        height: 30px;
        font-size: 15px;
    }

    .setup-btn-wrap {
        margin-top: 0px;
    }

    #setup-budget-content {
        height: 250px;
    }

    .budget-modal-title {
        margin-top: 5px;
        font-size: 20px;
    }

    #user-budget {
        height: 30px;
    }

    .enter-wrap {
        padding: 0 35px 0 15px;
    }

    #invalid-expense-content {
        width: 80%;
    }

    #invalid-expense-btn {
        width: 100px;
    }

    #budget-zero-content {
        width: 80%;
    }

    #budget-less-expense-content {
        width: 80%;
    }

    #large-budget-content {
        width: 80%;
    }

    #nobudget-modal-content {
        width: 80%;
    }


}

/* Adjust the category page to fit smaller width */
@media screen and (max-width: 400px) {
    .category-grid {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 20px;
        column-gap: 10px;
        margin-top: -30px;
        justify-content: center;
    }

    .section-title {
        font-size: 25px;
    }

    .category-card {
        width: 80px;
        height: 110px;
    }

    .category-icon {
        margin: 20px 0 0 15px;
        width: 50px;
        height: 45px;
    }

    .category-caption {
        font-size: 10px;
    }

    .category-btn {
        margin-top: -30px;
        border-radius: 30px;
        width: 90px;
        height: 30px;
        font-size: 15px;
        font-family: 'Quicksand', sans-serif;
    }

    #cancel-btn {
        height: 35px;
        margin-top: -15px;
    }

    .category-caption {

        margin: 0;
    }
}
