body {
    margin: 0;
    padding: 0;
    overflow-x: none;
    font-family: 'Raleway', sans-serif;
    width: auto;
    overflow-x: hidden;
}

#mob-navbar {
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 10;
}

#mob-navbar-modal li{
    list-style-type: none;
    padding: 10px 10px;
    font-size: 10px;
    color: black;
}

#mob-navbar-modal {
    position: absolute;
    top: 0;
    left: -300px;
}

#mob-navbar-modal ul {
    padding-left: 20px;
}

ul a {
    text-decoration: none;
    color: white;
}

ul a:hover {
    color: rgb(69, 109, 157);
}

.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}

#container {
    display: grid;
    height: 100%;
    grid-gap: 0px;
    grid-template-columns: repeat(12, 1fr);
}

/* Section One  */
#section-1 {
    grid-column: 1/13;
    background-image: url("../resource/loginBG.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vw;
    position: relative;
}

.main-title {
    font-size: 15vw;
    color: white;
    padding-left: 0.5em;
    padding-top: 0.25em;
}

.sub-title {
    font-size: 2vw;
    color: white;
    padding-left: 9vw;
    margin-top: -40px;        /** move the subtitle position */
}

#current-link {
    border-bottom: 1px solid rgb(69, 109, 157);
    color: rgb(69, 109, 157);
    padding-bottom: 5px;
}

.mob-nav-bar {
    height: 50px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    border-top: 1px solid black;
}

.mob-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    padding-top: 5px;
}

.nav-bar {
    display: none;
}

.section-2 {
    grid-column: 1/ -1;
    column-gap: 30px;       /** the horizontal gap between each card */
    padding: 20px;
    margin-top: 40px;
}

.s2-box {
    text-align: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(5px 5px 5px #676666);
    border-radius: 15px;
}

.box-topborder {
    height: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #4c779d;
}

.box-wrap {
    padding: 20px;          /** the padding for each card content inside */
    margin-bottom: 20px;    /** vertical distance between each card*/
}

.section-3 {
    grid-column: 1/-1;
    text-align: center;
    padding: 20px;
    line-height: 2em;
    margin-top: 0px;
    margin-bottom: 50px;
}

.section3-title {
    font-size: 3em;
    line-height: 1.2em;
    margin-bottom: 15px;
    color: #3b7294;
}

.title-underline{
    width: 70%;
    height: 2px;
    background-color: #3b7294;
    margin: 0 auto;
}

.section3-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    row-gap: 25px;
}

.section3-content {
    grid-column: 1 / -1;
}

ul {
    text-align: left;
    display: inline-block;
}

.feature-list {
    text-align: center;
}

.section3-img-wrap {
    grid-column: 1 / -1;
}

.signup-button {
    border: 2px solid #3b7294;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 200px;
    height: 50px;
    margin: 0 auto;
}

.signup-link {
    text-decoration: none;
    color: #3b87b6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7px;
    font-size: 1.2em;
    cursor: pointer;
}

.signup-button:hover {
    background-color: rgb(179, 209, 255);
    transition: all .24s ease-in-out;
    transition-property: all;
    transition-duration: 0.24s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

/* Section 4  */
.section-4 {
    grid-column: 1/-1;
    background-color: rgb(69, 109, 157);
    color: rgb(255, 255, 255);
    font-family: 'Quicksand', sans-serif ;
}

.section4-inner-grid {
    display: grid;
    grid-template-columns: 1fr;
}

.section4-column1 {
    display: none;
}

.section4-column2 {
    grid-column: 1/-1;
    font-size: 20px;
    text-align: center;
}

.section4-column3{ 
    display: none;
}

.fa {
    font-size: 1px;
    width: 1px;
    height: 1px;
    text-align: center;
    text-decoration: none;
    margin: 15px 35px 0px 20px;
}

.socialmedia-icon-wrap {
    margin-bottom: 15px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-reddit {
    background: #ff5700;
    color: white;
}

/* Section 5 */
#section-5 {
    grid-column: 1/-1;
    background-color: rgb(41, 41, 41);
}

.section5-inner-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 10px;
    height: 30px;
}

.copyright-wrap {
    padding-top: 15px;
    font-family: 'Quicksand', sans-serif ;
}

#other-menu-modal {
    background-color: rgb(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: -100%;
    opacity: 0;
}

#other-menu-modal-content {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

.other-close-btn {
   background-color: white;
   border-radius: 50%;
   width: 200px;
   height: 200px;
   position: absolute;
   top: 0;
   right: 0;
   margin-top: -80px;
   margin-right: -96px;
   display: flex;
   justify-content: center;
   align-items: center;
}

#close-modal-btn {
    margin-left: -55px;
    transform: translateY(30px);
}

.other-menu-link a {
    text-decoration: none;
    color: white;
}

.other-menu-link a:hover {
    color: rgb(34, 146, 187);
}



/* Responsive layout - when the screen is more than 900px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (min-width: 900px) {
    .nav-bar-grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }
    
    .nav-bar {
        display: block;
        grid-column: 1 / -1;
    
    }

    #mob-navbar-modal {
        display: none;
    }

    #mob-navbar {
        display: none;
    }

    .nav-bar li {
        color: rgb(255, 255, 255);
        list-style-type: none;
        display: inline-block;
        margin-top: 10px;
        margin-left: 55px;         /** Horizontal gap between links */
        font-size: 1.2vw;
        font-weight: bold;
        border-bottom: 3px solid transparent;
        padding-bottom: 5px;
    }
    
    .nav-bar li:hover {
        color: rgb(69, 109, 157);
        user-select: none;
        border-bottom: 1px solid rgb(69, 109, 157);
    }

    .feature-list {
        text-align: left;
    }

    ul {
        text-align: left;
    }
    
    .mob-nav-bar {
        display: none;
    }

    .section-2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 50px;
    }

    .box-title {
        padding-top: 10px;
        font-size: 30px;
        color: #3b7294;
    }
    
    .box-content {
        padding-top: 15px;
    }

    .section3-content {
        grid-column: 1/2;
        text-align: left;
        padding-left: 50px;
    }

    .section3-img-wrap {
        margin-top: 40px;
        grid-column: 2/2;
    }

    .signup-button {
        border: 2px solid #3b7294;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        width: 200px;
        height: 50px;
        margin: 0;
        margin-top: 50px;
    }

    .title-underline{
        width: 380px;
        height: 2px;
        background-color: #3b7294;
        margin: 0 0 10px 0;
    }

    .section4-inner-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .section4-column1 {
        font-size: 1vw;
        padding-left: 100px;
        padding-bottom: 20px;
        display: block;
    }
    
    .section4-column2 {
        text-align: center;
        font-size: 3vw;
    }
    
    .section4-column3{ 
        line-height: 1.5em;
        font-size: 1vw;
        padding: 0px 20px 0px 10px;
        display: block;
    }
    
    .section4-column3-wrap {
        margin: 0 auto;
    }
    
    .fa {
        font-size: 1px;
        width: 1px;
        height: 1px;
        text-align: center;
        text-decoration: none;
        margin: 50px 2vw;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 450px) {
    .section3-img-wrap img {
        width: 300px;
        height: auto;
    }

    .main-title {
        font-size: 15vw;
        color: white;
        padding-left: 0.5em;
        padding-top: 0.25em;
    }
    
    .sub-title {
        font-size: 2vw;
        color: white;
        padding-left: 9vw;
        margin-top: -20px;        /** move the subtitle position */
    }

}


