body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  
}

.mobile-menu {
    display: none;
}

.nav-bar-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.nav-bar {
    grid-column: 1 / -1;
    text-align: center;
    background-color: rgb(61, 186, 208);
}

.nav-bar li {
    list-style-type: none;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    font-size: 1.2vw;
    font-weight: bold;
    border-bottom: 3px solid transparent;
}

.nav-bar li:hover {
    color: rgb(33, 176, 138);
    user-select: none;
    border-bottom: 3px solid rgb(13, 172, 129);
}

.section1 {
    grid-column: 1/13;
    background-image: url("resource/contact-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 49vw;
}

.section2 {
    grid-column: 1/13;
    background: url("resource/test.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h2 {
    font-size: 4vw;
    margin-top: 40px;
    font-weight: 900;
    text-align: center;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: rgb(34, 185, 196);
    color: white;
    padding: 15px 35px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-family: Raleway sans-serif;
}

input[type=submit]:hover {
    background-color: #71abf2;
}

.submit-button {
    text-align: center;
}

/* Center the form */
.form-wrap {
    width: 40%;
    margin: 0 auto;
}

.section-3 {
    grid-column: 1/-1;
    background-color: rgb(61, 186, 208);
}

.section3-inner-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.section3-column1 {
    font-size: 1vw;
    padding-left: 5vw;
}

.section3-column2 {
    text-align: center;
    font-size: 3vw;
}

.section3-column3{ 
    line-height: 1.5em;
    font-size: 1vw;
    padding: 0px 10px 0px 10px;
}

.fa {
    font-size: 1px;
    width: 1px;
    height: 1px;
    text-align: center;
    text-decoration: none;
    margin: 50px 2vw;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-reddit {
    background: #ff5700;
    color: white;
}

.submit-button {
    border-radius: 25px;
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
    .mobile-menu {
        display: block;
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .nav-bar {
        display: none;
    }

    .section3-column1 {
        display: none;
    }
    
    .section3-column2 {
        grid-column: 1/-1;
        font-size: 20px;
        text-align: center;
    }

    .fa {
        margin: 15px 35px 0px 20px;
    }
    
    .socialmedia-icon-wrap {
        margin-bottom: 15px;
    }

    .section3-column3 {
        display: none;
    }

}